@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cairo/v22/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hOA-a1biLD-H.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

html{
    width: 100%;
}
body{
    width: 100%;    
    background-color: #222222;
    font-family: 'Cairo' !important
}
*{
    scroll-behavior: smooth
}

button{
    cursor: pointer;
}
a{
    cursor: pointer;
}

nav{
    width: 100%;
}

